.cart_block{
    display: flex;
    align-items: center;
    position: relative;
}
.total_prise{
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
}
.cart{
    cursor: pointer;
    position: relative;
}